@import "root.css";

body{
    width: 100vw;
    background-color: var(--Fond);
    color: var(--Txt-color);
    display: flex;
    overflow-x: hidden;
}

.input_div{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

select{
    background-color: var(--Fond);
    color: var(--Txt-color);
    padding: 5px;
    border-radius: 5px;
}


@media screen and (max-width: 800px) {
    body{
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

}
