@import url(root.css);

body{
    background-color: var(--Fond);
    color: var(--Txt-color);
    overflow: hidden;
}


@media screen and (max-width: 900px) {
   nav{
       display: flex;
       justify-content: space-around;
       align-items: center;
       position: absolute;
       bottom: 5px;
       width: 100vw;
       border-top: 2px solid var(--main);
   }

    .name{
        justify-content: space-between;
        display: flex;
        height: 8vh;
        width: 100vw;
        align-items: center;
    }


    .info{
        display: none;
    }

    .name>h2{
        display: block;
    }
}

@media screen and (min-width: 900px) {
    header{
        display: flex;
        justify-content: space-between;
        margin: 1vh 0 0 1vw;
    }

    nav{
        width: 25vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom:2px solid var(--main);
    }

    .name{
        width: 35vw;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name>h2{
        display: none;
    }

    .icon_name:hover{
        width: 350px;
    }

    .logo_info{
        left: 10px;
        position: relative;
        width: 30px;
    }

    .info{
        left: 5vw;
        position: absolute;
        color: var(--Fond);
        width: 13vw;
    }
}

a{
    text-decoration: none;
    font-size: 22px;
}



.icon_name{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50px;
    height: 50px;
    background-color: var(--Txt-color);
    margin: 5px;
    border-radius: 100px;

}



nav>img{
    width: 30px;
}

.home-container{
    margin:3vh 0 0 2vw;
}

.date{
    font-size: 22px;
    font-weight: 300;
}


.projects-container{
    display: flex;
    overflow-x:scroll;

}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: clamp(110px,6vw,170px);
    margin: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.project>p{
    color: var(--Fond);
}











.toggle-switch {
    position: relative;
    width: 80px;
    height: 40px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--light);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--dark);
}

.slider::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background-color: var(--dark);
}



/*####################################################################*/

main{
    margin-top: 15px;
    display: flex;
    height: 90vh;
    width: 100vw;
}


article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
}

.info_perso{
    padding: 8px;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    box-shadow: 21px 20px 22px 0px var(--Fond_foncé);
    transition: 0.3s;
}

.info_perso:hover,.info_pro:hover,.passion:hover{
    box-shadow:none;
    background-color: var(--Fond_foncé);
}


aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 100%;
    /*background-color: pink;*/
}

.info_pro{
    padding: 8px;
    border-radius: 5px;
    width: 60%;
    height: 40%;
    box-shadow: 21px 20px 22px 0px var(--Fond_foncé);
    transition: 0.3s;
}

.passion{
    padding: 8px;
    border-radius: 5px;
    width: 60%;
    height: 40%;
    box-shadow: 21px 20px 22px 0px var(--Fond_foncé);
    transition: 0.3s;
}

h2{
    margin-bottom: 5px;
}

h4{
    font-weight: lighter;
    margin-bottom: 15px;
}

p{
    text-align: justify;
    line-height: 1.7rem;
}

strong{
    font-weight: bolder;
    color: var(--main);
}














